<html>
	<head>
		<title>Partilus - HTML File Explorer</title>
		<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
		<script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.js"></script>
		<!-- <script src="{{MEDIA_URL}}js/datatable/scripts/jquery.dataTables.js" type="text/javascript"></script> -->
		<script src="{{MEDIA_URL}}js/jquery.watable.js" type="text/javascript"></script>
		<link rel="stylesheet" href="{{MEDIA_URL}}css/bootstrap.css" />
		<link rel="stylesheet" href="{{MEDIA_URL}}css/bootstrap.custom.css" />
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/watable.css">
		<script src="{{MEDIA_URL}}js/jquery.pnotify.js" type="text/javascript"></script>
		<!-- <script src="http://gzipit.googlecode.com/svn-history/r2/trunk/js/jquery-ui-1.8.5.custom.js" type="text/javascript"></script> -->
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.pnotify.default.css">
		<!-- <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/jquery.pnotify.default.icons.css"> -->
		
		<style>
			.filename,td {
				white-space: nowrap;
				max-width: 150px !important;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			.tooltip-inner {
				max-width: 800px !important;
				float: left !important;
			}
			.tooltip {
				width: 940px !important;
			}
			a{
				color:#E96242;
			}
			.permission{
				width:40px;
			}
			.label{
				font-weight:normal;
				padding:2px 5px 2px 5px;
				cursor:pointer;
			}
			.label{
				opacity:0.85;
			}
			.label:hover{
				opacity:1.0;
				font-weight:bold;
				padding:2px 4px 2px 4px; 
				color:#eee;
			}
			.grey{
				border:0.1em solid #ccc;
				margin:0px 5px 0px 1px;
			}
			.alert_success{
				background:#fff !important;
			}
			#header{
				opacity:0.9;
			}
			.delthis:hover{
				text-decoration:none;
			}
		</style>
		<script>
			if (typeof String.prototype.startsWith != 'function') {
			  // see below for better implementation!
			  String.prototype.startsWith = function (str){
			    return this.indexOf(str) == 0;
			  };
			}
			function getData(hiddenfiles) {
				var cols = {
					name : {
						index : 1,
						type : "string", // number, bool, date
						friendly : "Name",
						sortOrder : "asc",
						placeHolder: "Name"
					},
					type : {
						index : 2,
						type : "string",
						friendly : "Type"
					},
					size : {
						index : 3,
						type : "string",
						friendly : "Size"
					},
					permission : {
						index : 4,
						type : "string",
						friendly : "Permission"
					},
					createdOn : {
						index : 5,
						type : "string",
						friendly : "Created On",
					},
					updatedOn : {
						index : 6,
						type : "string",
						friendly : "Last Modified On",
					},
					action : {
						index : 7,
						type : "string",
						filter:false,
						friendly : "Action",
					}
				};
				var rows = [];
				var i = 1;

				{% for directory in directories %}

				var doc = {
					name : "<a href='?path={{path}}{{directory.name}}'>{{directory.name}}</a>",
					type : "{{directory.type}}",
					size : "{{directory.size}}",
					permission : "{{directory.permission}}",
					createdOn : "{{directory.created_on}}",
					updatedOn : "{{directory.last_modified_on}}",
					action : "<span class='label label-success copythis' rel='{{path}}{{directory.name}}&&{{directory.type}}'>Copy</span>  <span class='grey'></span> <a class='delthis' href='/delete?name={{path}}{{directory.name}}'><span class='label label-important'>Delete</span></a>",
				};
				if(hiddenfiles == 'show'){
					rows.push(doc);
				}else{
					if(!"{{directory.name}}".startsWith(".")){
						rows.push(doc);
					}
				}
				i++;
				{% endfor %}

				{% for file in files %}

				var doc = {
					name : "{{file.filename}}",
					type : "{{file.type}}",
					size : "{{file.size}}",
					permission : "{{file.permission}}",
					createdOn : "{{file.created_on}}",
					updatedOn : "{{file.last_modified_on}}",
					action : "<span class='label label-success copythis' rel='{{path}}{{file.filename}}&&{{file.type}}'>Copy</span>  <span class='grey'></span> <a class='delthis' href='/delete?name={{path}}{{file.filename}}'><span class='label label-important'>Delete</span></a>",
				};
				if(hiddenfiles == 'show'){
					rows.push(doc);
				}else{
					if(!doc.name.startsWith(".")){
						rows.push(doc);
					}
				}
				i++;
				{% endfor %}

				//Create the returning object. Besides cols and rows, you can also pass any other object you would need later on.
				// 
				var data = {
					cols : cols,
					rows : rows,
					otherStuff : {
						thatImight : 1,
						wantLater : true
					}
				};

				return data;
			}

			function showtooltip(){
				$(".watable tr td:first-child").each(function() {
					try 
					{
						html = "<div title='" + $(this).html().split("(")[1].split(")")[0] + "'>" + $(this).html().split(" ")[0] + "</div>";

						$(this).html("<div title='" + $(this).html().split("(")[1].split(")")[0] + "'>" + $(this).html().split(" ")[0] + "</div>");
						// $(this).attr("title",$(this).html().split("(")[1].split(")")[0]);
						// $(this).html($(this).html().split(" ")[0]);
						$(this).find('div').addClass("filename").tooltip({
							placement : 'right',
							html : true
						});
						$(this).css("cursor", "pointer");
					} catch(err) {
					}
				});
			}
			
			function pinesettings(title,text){
				/* PINE SETTINGS */
			    var effect_in = 'bounce', 
			    	easing_in = 'linear', 
			    	effect_out = 'bounce', 
			    	easing_out = 'linear', 
			    	speed = '700';
				if (effect_out == 'same')
					effect_out = effect_in;
				if (easing_out == 'same')
					easing_out = easing_in;
				if (speed.match(/^\d+$/))
					speed = parseInt(speed);
				var options_in = {
					easing : easing_in
				}, options_out = {
					easing : easing_out
				};
				if (effect_in == 'scale')
					options_in.percent = 100;
				if (effect_out == 'scale')
					options_out.percent = 0;
				$.pnotify({
					title : title,
					text : text,
					animate_speed : speed,
					animation : {
						'effect_in' : effect_in,
						'options_in' : options_in,
						'effect_out' : effect_out,
						'options_out' : options_out
					}
				});
			}
			
			$(document).ready(function() {
				var waTable = $('#allfiles').WATable({
					pageSize : 15,
					preFill : true,
					filter : true,
					columnPicker : true,
            		tableCreated: function(data) {
            			{% if search %}
						showtooltip();
						{% endif %}
            		},/*actions:{
            			custom: [             //Add any other elements here. Here is a refresh and export example.
		                  $('<a href="#" class="refresh"><i class="icon-refresh"></i>&nbsp;Refresh</a>'),
		                  $('<a href="#" class="export_all"><i class="icon-share"></i>&nbsp;Export all rows</a>'),
		                  $('<a href="#" class="export_checked"><i class="icon-share"></i>&nbsp;Export checked rows</a>'),
		                  $('<a href="#" class="export_filtered"><i class="icon-share"></i>&nbsp;Export filtered rows</a>')
		                ]
            		},*/
            		hidePagerOnEmpty: true
				}).data('WATable');
				

				var data = getData('hide');
				waTable.setData(data);
				{% if search %}
				showtooltip();
				{% endif %}
				
				$("#searchform").submit(function(){
					$(".watable").css('opacity','0.60');
					$("#loadingimg").show();
				});
				$("#showhidden").change(function(){
					ischecked = $(this).is(':checked');
					if(ischecked){
						var data = getData('show');
						waTable.setData(data);
					}else{
						var data = getData('hide');
						waTable.setData(data);
					}
				});
				$(".bc_links").tooltip({
					placement:"right"
				});
				$(".setcurrent_chk").click(function(){
					rel = $(this).attr('rel');
					ischecked = $(this).is(':checked');
					if(ischecked){
						$("input[name=location_"+rel+"]").val("{{path}}");
					}else{
						$("input[name=location_"+rel+"]").val("");
					}
				});
				
				{% if request.session.cp_type and request.session.cp_path %}
					title = "<span class='filename' style='max-width:300px !important;'>{{request.session.cp_path}}</span> is in clipboard.";
					text = "<a href='/paste/?path={{path}}' class='btn btn-info'>Paste it</a> here!";
					$(".ui-pnotify-title").html(title);
					$(".ui-pnotify-text").html(text);
				{% else %}
					$("#notifydiv").hide();
				{% endif %}
				
				{% if paste_msg %}
					title = "{{paste_msg}}";
					text = '';
					$(".ui-pnotify-title").html(title);
					$(".ui-pnotify-text").html(text);
					$("#notifydiv").slideDown();
				{% endif %}
								
				$(".copythis").click(function(){
					rel = $(this).attr('rel');
					path = rel.split("&&")[0];
					type = rel.split("&&")[1];
					console.log(path+":-"+type);
					title = "<span class='filename' style='max-width:300px !important;'>"+path+"</span> is copied successfully.";
					text = "You can Paste it anywhere!";
					
					$(".ui-pnotify-title").html(title); // "The "+type+
					$(".ui-pnotify-text").html(text); // <span class='btn btn-info'>Paste it</span>
					
					$("#notifydiv").hide();					
					
					$.ajax({
						url:"/copy/"+type+"?path="+path,
						context: document.body
					}).done(function(data) {
						if(data=="success"){
							$("#notifydiv").slideDown();
						}
					});
					//pinesettings(title,text);
				});
				$(".ui-pnotify-closer").click(function(){
					$("#notifydiv").slideUp();
				});

			});
		</script>
	</head>
	<body>
		<div class="ui-pnotify ui-widget ui-helper-clearfix" id="notifydiv" style="width: 300px; opacity: 1; display: block; right: 15px; top: 85px;">
			<div class="alert alert-success ui-pnotify-shadow ui-corner-all ui-state-highlight" style="min-height: 16px;">
				<div class="ui-pnotify-closer" style="cursor: pointer;border:1px solid #ccc;font-size:125%;position: absolute;right: 5px;top: 5px;">
					<span class="ui-icon ui-icon-circle-close">X</span>
				</div>
				<div class="ui-pnotify-icon">
					<span class="ui-icon ui-icon-info"></span>
				</div>
				<h4 class="ui-pnotify-title" style="max-width:260px !important;overflow:hidden;text-overflow: ellipsis;"></h4>
				<div class="ui-pnotify-text">Notify Msg1.</div>
			</div>
		</div> 
		<div style="width:100%;">
			<div id="header" style="background:url('{{MEDIA_URL}}img/orange_bg.jpg')">
				<div style="width:940px;margin:0 auto;padding-top:15px;height:50px;">
					<h3>
						<a href="/" style="color:#fff;">Partilus</a>
					</h3>
					<span style="position:absolute;">
						<h6 style="color:#fff !important;text-transform: none;">stay away from the terminals</h6>
					</span>

				</div>
			</div>
			<div class="clearfix"></div>
			<div style="width:940px;margin:0 auto;padding-bottom: 100px;margin-top:20px;">
				<div style="float:left;width:620px;">
					<h4 style="color:#999;">
					{% if search %}
						About {{files|length}} result{{files|length|pluralize}}
					{% else %}
						<a href="/"><span style="font-weight: normal;color:#999;padding-right:1px;">(slash)</span>/</a> 
						{% for apath in pathlist %}
							{% if forloop.last %}
								{{apath.name}} /
							{% else %}
								<a href="?path={{apath.url}}">
									{{apath.name}}</a> / 
							{% endif %}
						{% endfor %}
					{% endif %}
					</h4>
				</div>
				<div style="float:right;">
					<form class="form-search" action="{% url searchfile %}" method="post" id="searchform">
						<div class="input-append">
							<input type="text" class="span2 search-query" name="searchtxt" style="width:200px;height: 27px;margin-right: -3px;margin-top: 2px;" value="{{searchtxt}}">
							<button type="submit" class="btn">
								Search
							</button>
						</div>
					</form>
				</div>
				<div class="clearfix"></div>
				
				<div class="well" style="padding:6px !important;border-top: 1px solid #DDD;border-bottom: 1px solid #DDD;">
					<a href="#newfolder_modal" data-toggle="modal" id="newfolder_link" title="New Folder" class="btn bc_links" href="#"><img style="height:20px;width:20px;" src="{{MEDIA_URL}}img/folder_new.png" /></a>
					
					<a href="#newfile_modal" data-toggle="modal" id="newfile_btn" title="New Document" class="btn bc_links" href="#"><img style="padding:2px;width:15px;height:15px;" src="{{MEDIA_URL}}img/file_new.png" /></a>
					
					<label class="checkbox inline" style="float: right;padding-right: 10px;">
	                	<input type="checkbox" id="showhidden" value="1" name="showhidden"> Hidden Files 
	              	</label>
				</div>
				
				<div id="loadingimg" style="opacity:0.70;position:absolute;padding-top:30px;left:450px;display:none;z-index:10000">
					<img src="{{MEDIA_URL}}img/loading_bar.gif" style="width:80%;" />
				</div>
				<div id="allfiles"></div>
				<form action="{% url addfolder 'folder' %}" method="post" >
				    <div class="modal hide fade" id="newfolder_modal">
	    				<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h3>Create Directory</h3>
						</div>
						<div class="modal-body">						
							<div style="float:left;">
								<span style="color:#999;">Directory Name</span><br/>
								<input type="text" name="newname_folder" placeholder1="Directory Name" style="width:200px;height: 27px;" />
							</div>
							<div class="clearfix"></div>
							<div style="margin-left:0px;">
								<span style="color:#999;">Permission (Eg. 755)</span><br/>
								<select name="permission1_folder" class="permission">
									{% for pmode in permission_modes %}
										<option value="{{pmode}}" {% if pmode == 7 %}selected="selected"{% endif %}>{{pmode}}</option>
									{% endfor %}
								</select>
								<select name="permission2_folder" class="permission">
									{% for pmode in permission_modes %}
										<option value="{{pmode}}" {% if pmode == 5 %}selected="selected"{% endif %}>{{pmode}}</option>
									{% endfor %}
								</select>
								<select name="permission3_folder" class="permission">
									{% for pmode in permission_modes %}
										<option value="{{pmode}}" {% if pmode == 5 %}selected="selected"{% endif %}>{{pmode}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="clearfix"></div>
							<div style="color:#999;"></div>
							<span style="color:#999;">Location (Eg. /home/root/Documents/ )</span><br/>
							<input type="text" name="location_folder" placeholder1="Location (Eg. /home/root/Documents/ )" style="width:400px;height: 27px;" />
							<label class="checkbox inline" style="margin-top:-15px;">
								<input type="checkbox" class="setcurrent_chk" rel="folder" /> On Current Path
							</label>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn" data-dismiss="modal">Close</a>
							<input type="submit" class="btn btn-primary" value="Add Folder" />
						</div>
					</div>
				</form>
				<form action="{% url addfolder 'file' %}" method="post" >
				    <div class="modal hide fade" id="newfile_modal">
	    				<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
							<h3>Create File</h3>
						</div>
						<div class="modal-body">						
							<div style="float:left;">
								<span style="color:#999;">File Name</span><br/>
								<input type="text" name="newname_file" placeholder1="File Name" style="width:200px;height: 27px;" />
							</div>
							<div class="clearfix"></div>
							<div style="margin-left:0px;">
								<span style="color:#999;">Permission (Eg. 755)</span><br/>
								<select name="permission1_file" class="permission">
									{% for pmode in permission_modes %}
										<option value="{{pmode}}" {% if pmode == 7 %}selected="selected"{% endif %}>{{pmode}}</option>
									{% endfor %}
								</select>
								<select name="permission2_file" class="permission">
									{% for pmode in permission_modes %}
										<option value="{{pmode}}" {% if pmode == 5 %}selected="selected"{% endif %}>{{pmode}}</option>
									{% endfor %}
								</select>
								<select name="permission3_file" class="permission">
									{% for pmode in permission_modes %}
										<option value="{{pmode}}" {% if pmode == 5 %}selected="selected"{% endif %}>{{pmode}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="clearfix"></div>
							<span style="color:#999;">Location (Eg. /home/root/Documents/ )</span><br/>
							<input type="text" name="location_file" placeholder1="Location (Eg. /home/root/Documents/ )" style="width:400px;height: 27px;" />
							<label class="checkbox inline" style="margin-top:-15px;">
								<input type="checkbox" class="setcurrent_chk" rel="file" /> On Current Path
							</label>
						</div>
						<div class="modal-footer">
							<a href="#" class="btn" data-dismiss="modal">Close</a>
							<input type="submit" class="btn btn-primary" value="Add File" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>